<h2>Calcul de distance entre 2 villes</h2>
<h3>Menu</h3>
<%= link_to "Voir les villes", list_ville_path %>
<%= link_to "Ajouter une ville", new_ville_path %>
<%= link_to "Itineraire", itineraire_path %>
